.container1{
  display: inline-block;
  padding: 0em 0em;
  margin: 1em auto;
  width: 400px;
}

.container1div{
	display: table-cell;
    vertical-align: bottom;
    height: 450px;
}

.companylogo{
	position: absolute;
    left: 30px;
    top: 30px;
}

.errormessage{
	background-color: #fff;
    color: red;
    padding: 8px;
    border-radius: 14px;
    font-size: 16px;
}

.messagebox{
	text-align:left;
	background-color: #fff;
    margin: 30px auto;
    padding: 15px;
    max-width: 394px;
    color: #000;
    border-radius: 20px;
    font-size: 18px;
}
.textboxforemail,.textboxforemail:focus,.textboxforemail:active,.textboxforemail:hover{
	width: 80%;
    background-color: #f9f9fa;
    border: 0; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #aaa;
    height: 40px;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    padding: 0px 10px;
}

input::placeholder {
  color: #dad1d1;
}

.thankyoumessagebox{
	width:400px!important;
}

.sharebtncss{
	color: #fff;
    padding: 0px 8px 2px 8px;
	border-radius:2px;
	border:none;
}

.sharebtncss span{
	margin: 4px;
}

.twitter{
	background: #00b4f5;
    border-color: #00b4f5;
}

.facebook{
	background: #3b5998;
    border-color: #3b5998;
}

.guestSubmit_58c33 {
    border-radius: 45px;
    margin-left: 10px;
    width: 45px;
    height: 45px
}

.submit_03c36 {
    background-color: #da552f;
    border: 1px solid #da552f;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	cursor:pointer;
	float: right;
}

.guestSubmit_58c33 svg {
    width: 14px;
    height: 14px;
}

svg:not(:root) {
    overflow: hidden;
}
.messageimagebox{
    height: 120px;
    width: 252px;
	position:relative;
	bottom:135px;
	z-index: -1;
}

.messageimagebox div{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    overflow: hidden;
	position: absolute;
	left: 200px;
	-webkit-transition: left 2s; /* For Safari 3.1 to 6.0 */
    transition: left 2s;
}
.messageimagebox div img{
    width: 100%;
    height: 100%;
}

.messageimagebox1{
    height: 120px;
    width: 252px;
	z-index: -1;
	display:none;
	margin: 0px auto;
}

.messageimagebox1 div{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    overflow: hidden;
	margin: 0px auto;
}
.messageimagebox1 div img{
    width: 100%;
    height: 100%;
}

.speech-bubble,.speech-bubble2 {
	position: relative;
	border-radius: 20px;
	margin-bottom:80px;
}

.speech-bubble:after,.speech-bubble2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-right-color: #fff;
	border-left: 0;
	border-bottom: 0;
	margin-left: -27px;
}

.speech-bubble:after{
	margin-top: -13.5px;
}
.speech-bubble2:after{
	margin-top: 104.5px;
}
/********************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
	padding: 0px; 
	background: -webkit-linear-gradient(bottom, rgba(0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/students bg.png") no-repeat center; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom,  rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/students bg.png") no-repeat center; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/students bg.png") no-repeat center; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/students bg.png") no-repeat center;/* Standard syntax (must be last) */
	background-position: 100% 100%; 
	background-size: cover;
    background-repeat: no-repeat; 
  color: #fff;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  overflow:hidden;
}
.container {
  background: #fff;
  color: #000;
  display: inline-block;
  padding: 0em 1em;
  margin: 5em auto;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.container .navigation {
  text-align: left;
}
.container .navigation ol {
  list-style: none;
  background: #fff;
  position: absolute;
  padding: 30px 0;
  width: 600px;
  z-index: 100;
  margin-bottom: 30px;
}
.container .navigation ol li {
  display: inline-block;
  margin-right: 27px;
  font-size: 0.7em;
  max-width: 20%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .navigation ol li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.container .navigation ol li a.done {
  opacity: 1;
}
.container .sign-form {
     width: 406px;
    text-align: left;
    margin: 50px 0 0 0;
}
.container .sign-form #next-page,.container .sign-form #cnext-page {
  opacity:0;	
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
  background-size: contain;
  cursor:pointer;
  
}
.container .sign-form #next-page:hover,.container .sign-form #cnext-page:hover {
  background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
  background-size: contain;
}
.container .sign-form .questions {
  list-style: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  width: 85%;
  display: inline-block;
  height: 80px;
  margin-bottom: 45px;
}
.container .sign-form .questions li {
  position: absolute;
  width:360px;
  /*-------------Password ------------------*/
}
.container .sign-form .questions li span {
  display: block;
  margin-bottom: 10px;
}
.container .sign-form .questions li input {
  width: 100%;
  font-size: .9em;
  color: #333;
  margin: 0.3em 0 1em 0;
  border: none;
  background: none;
  border-bottom: 3px solid #333;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}
.container .sign-form .questions li input:focus {
  outline: none;
  border-bottom: 3px solid #6A79A6;
}
.container .sign-form .questions li:not(:first-child) {
  opacity: 0;
  margin-top: 150px;
}
.container .sign-form .questions li #viewpswd {
  position: absolute;
  opacity: 0;
}
.container .sign-form .questions li #show-pwd {
  margin: -2.75em 0em;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.container .sign-form .questions li #show-pwd.view {
  background: url("https://jdniki.github.io/signup/images/view.svg");
  background-size: contain;
}
.container .sign-form .questions li #show-pwd.hide {
  background: url("https://jdniki.github.io/signup/images/hide.svg");
  background-size: contain;
}
.container .sign-form .questions li #show-pwd:active,
.container .sign-form .questions li #show-pwd:focus {
  background: url("https://jdniki.github.io/signup/images/hide.svg");
  background-size: contain;
}
.container .sign-form .questions li select.country {
  position: absolute;
  width: 4.5em;
  font-size: 0.7em;
  color: #f2f2f2;
  height: 70px;
  background: transparent;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.container .sign-form .questions li #phone {
  padding-left: 5em;
}
.container .error-message {
  color: rgba(207, 0, 0, 0.56);
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
  background: #fff;
}
::-webkit-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
:-ms-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 697px){
.textboxforemail,.textboxforemail:focus,.textboxforemail:active,.textboxforemail:hover{
	width: 75%;
}	
.container .navigation ol {
  list-style: none;
  background: #fff;
  position: absolute;
  padding: 30px 0;
  width: 500px;
  z-index: 100;
  margin-bottom: 30px;
}


.container .sign-form .questions li {
  width: 350px;
}

.thankyoumessagebox{
	width:400px!important;
}

.container .sign-form .questions {
    width: 82%;
    height: 66px;
}
.container {
    padding: 0em 1em;	
}
.companylogo{
	position: fixed;
     left: 0px;
     top: 0px; 
    background-color: #121212;
    width: 100%;
    padding: 12px;
}
body{
	padding-top:50px;
}

.speech-bubble, .speech-bubble2 {
    margin-bottom: 50px;
}

.errormessage {
    margin-bottom: 60px;
}
}

@media screen and (max-width: 565px){

.thankyoumessagebox{
	width:342px!important;
}

.container .navigation ol {
  list-style: none;
  background: #fff;
  position: absolute;
  padding: 30px 0;
  width: 350px;
  z-index: 100;
  margin-bottom: 30px;
}

.container .sign-form {
     width: 350px;
    margin: 15px 0 0 0;
}

.container .sign-form .questions li {
  width: 270px;
}

.container .sign-form .questions {
    width: 75%;
    height: 66px;
}	

.container .sign-form #next-page ,.container .sign-form #cnext-page {
    margin-left: 35px;
}
.container .sign-form .questions li input {
    width: 100%
}
.container {
    padding: 0em 15px;
}

.container1 {
    display: inline-block;
    padding: 1em 1em;
    margin: 2em auto;
    height: 550px;
    min-width: 240px;
}
	
.container1 {
    width: 380px;
}
	
}

@media screen and (max-width: 400px){

.thankyoumessagebox{
	width:245px!important;
}
.container .navigation ol {
  list-style: none;
  background: #fff;
  position: absolute;
  padding: 30px 0;
  width: 250px;
  z-index: 100;
  margin-bottom: 30px;
}

.container .sign-form {
  width: 250px;
  text-align: left;
  margin: 15px 0 0 0;
}

.container .sign-form .questions li {
  width: 200px;
}

.container .sign-form .questions {
    width: 65%;
    height: 66px;
}	

.container .sign-form #next-page,.container .sign-form #cnext-page{
    margin-left: 35px;
	margin-top: 83px;
}
.container .sign-form .questions li input {
    width: 80%
}
.container {
    padding: 15px 15px;
}	
.responsivfont{
	font-size: 16px;
}
.container1 {
    width: 300px;
}
}

@media screen and (max-width: 330px){
	.container1 {
    width: 200px;
}

.textboxforemail, .textboxforemail:focus, .textboxforemail:active, .textboxforemail:hover {
    width: 65%;
}
.container .sign-form {
    width: 232px;
}

.container1div{
	display: block;
    vertical-align: bottom;
    height: 450px;
}
.messageimagebox1{
	width:100%;	
}
}