<!DOCTYPE html>
<html lang="en">
<% include header %>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
<body>
<!-- end header -->
<section class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 manusitems">
                <label style="border-bottom: 3px solid #ffbb3f;">All Companies</label>
                <label><a href="/companyinfo">New</a></label>
                <label style="float: right;" onclick="logoutprofile()">Log Out</label>
            </div>
        <!-- end col-12 --> 
        </div>
        <!-- end row --> 
    </div>
    <!-- end container --> 
</section>

<section class="breadcrumb-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 companytabe1">
                    <div class="col-xs-3">
                        <label>Comapny Name</label>
                    </div>
                    <div class="col-xs-3">
                        <label>Close Date</label>
                    </div>
                    <div class="col-xs-3">
                         <label>Create Date</label>
                    </div>
                    <div class="col-xs-3">
                        <label>Status</label>
                    </div>
                    <!--
                    <div class="col-xs-3">
                        <label>Url</label>
                    </div>
                -->
                </div>
            <!-- end col-12 --> 
            </div>
            <div class="row">
                    <% for(var i=0; i<casestudy.length; i++){ %>
                    <div id="<%= casestudy[i]['_id']; %>" class="col-xs-12 companytabe tabcompanyinfo">
                        <div class="col-xs-3">
                            <span><%= casestudy[i]['name']; %></span>
                        </div>
                        <div class="col-xs-3">
                            <span><%= casestudy[i]['closedate']; %></span>
                        </div>
                        <div class="col-xs-3">
                             <span><%= moment(casestudy[i]['dateCreated']).fromNow() %></span>
                        </div>
                        <div class="col-xs-3">
                            <% var statusarray = {'1':'Save', '2':'Review', '3':'Publish', '4':'Cancel','5':'Close'}; %>
                            <span><%= statusarray[casestudy[i]['status']]; %></span>
                        </div>
                        <!--
                        <div class="col-xs-3">
                            <span>compnayinfopdfpriew/<%= casestudy[i]['_id']; %></span>
                        </div>
                    -->
                    </div>
                    <% } %>
                <!-- end col-12 --> 
                </div>
            <!-- end row --> 
        </div>
        <!-- end container --> 
    </section>
<!-- end breadcrumb-bar -->
<% include footer %>
<script src="hello.js"></script>
<script src="/js/profile.js"></script>
<script  src="/js/profilecut.js"></script>
</body>
</html>
