<!DOCTYPE html>
<html lang="en">
<% include header %>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
<body>
<!-- end header -->
<section class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 manusitems">
                <label style="border-bottom: 3px solid #ffbb3f;">All Students</label>
                <label><a href="/companyinfo">New</a></label>
                <label style="float: right;" onclick="logoutprofile()">Log Out</label>
            </div>
        <!-- end col-12 --> 
        </div>
        <!-- end row --> 
    </div>
    <!-- end container --> 
</section>

<section class="breadcrumb-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 companytabe1">
                    <div class="col-xs-3">
                        <label>Name</label>
                    </div>
                    <div class="col-xs-3">
                        <label>Education</label>
                    </div>
                    <div class="col-xs-3">
                         <label>College</label>
                    </div>
                    <div class="col-xs-3">
                        <label>Download</label>
                    </div>
                </div>
            <!-- end col-12 --> 
            </div>
            <div class="row">
                <% for(var i=0; i<usersinfo.length; i++){ %>
                    <div class="col-xs-12 companytabe">
                        <div id="<%= usersinfo[i]._id %>" class="col-xs-3 selectuserprofile">
                            <span><%= usersinfo[i].details.basicDetails.firstName %></span>
                        </div>
                        <div class="col-xs-3">
                            <span><%= usersinfo[i].details.educationalDetails.postgGrauationStream %></span>
                        </div>
                        <div class="col-xs-3">
                             <span><%= usersinfo[i].details.educationalDetails.postgGrauationCollege %></span>
                        </div>
                        <div class="col-xs-3">
                            <% for(var j=0; j< usersinfo[i].details.casestudies.length;j++){
                                if(casid == usersinfo[i].details.casestudies[j].id){
                                %>
                            <span><a href="/downloadanswer/<%=usersinfo[i]._id %>/<%=usersinfo[i].details.casestudies[j].id %>">Download answer</a>
                                <%= usersinfo[i].details.casestudies[j].pdf %></span>
                            <% } } %>                
                        </div>
                    </div>
                <% } %>  
                <!-- end col-12 --> 
                </div>
            <!-- end row --> 
        </div>
        <!-- end container --> 
    </section>
<!-- end breadcrumb-bar -->
<% include footer %>
<script src="hello.js"></script>
<script src="/js/profile.js"></script>
<script  src="/js/profilecut.js"></script>
</body>
</html>
