<html>
    <head>
        <title>home page</title>
        <style>
            body{
                background-color: springgreen;
                color: black;
            }
        </style>
    </head>
    <body>
        <h1>user name : <%= name  %></h1>
        <h1>user id : <%= id  %></h1>
            <ul>
       <% for(var i=0; i<subjects.length; i++) {%>
            <li><%= subjects[i] %></li>
       <% } %>
        </ul>
    </body>       
</html>