<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Indian Insiders</title>
<meta name="author" content="Themezinho">
<meta name="description" content="India is ready for your business, but are you ready for India?">
<meta name="keywords" content="business, corporate, Indian Market, Fastest growing economy, Global, Consultants">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="India is ready for your business, but are you ready for India?">
<meta property="og:image" content="/images/hero1.jpg">
<meta property="og:title" content="Indian Insiders">
<meta property="og:type" content="Consulting">
<meta property="og:url" content="http://www.indianinsiders.com">

<!-- TWITTER META -->
<meta name="twitter:card" content="India is ready for your business, but are you ready for India?">
<meta name="twitter:site" content="http://www.indianinsiders.com">
<meta name="twitter:creator" content="http://www.indianinsiders.com">
<meta name="twitter:title" content="Indian Insiders">
<meta name="twitter:description" content="India is ready for your business, but are you ready for India?">
<meta name="twitter:image" content="http://www.indianinsiders.com">

<!-- FAVICON FILES -->
<link href="/images/favicon.png" rel="apple-touch-icon" sizes="144x144">
<link href="/images/favicon.png" rel="apple-touch-icon" sizes="114x114">
<link href="/images/favicon.png" rel="apple-touch-icon" sizes="72x72">
<link href="/images/favicon.png" rel="apple-touch-icon">
<link href="/images/favicon.png" rel="shortcut icon">


<!-- CSS FILES -->
<link href="/revolution/css/settings.css" rel="stylesheet">
<link href="/css/flaticon.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/jquery.fancybox.css" rel="stylesheet">
<link href="/css/odometer.min.css" rel="stylesheet">
<link href="/css/owl.carousel.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="preloader"> <svg class="spinner" id="pageloader_anime" width="32px" height="32px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
  <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg> </div>
<!-- end preloader -->
<div class="search-box transition">
   <div class="table">
   <div class="table-cell">
    <div class="container">
    	<form>
    		<input type="text" placeholder="Type here to make a search" autofocus>
    		<button type="submit">SEARCH</button>
    	</form>
    	</div>
    	<!-- end container -->
    	</div>
    	<!-- end table-cell -->
    	</div>
    	<!-- end table -->
    </div>
    <!-- end search-box -->
<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top transition">
  <!-- end top-bar -->
    <div class="container">
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#collapse-nav"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>-->
        <a class="navbar-brand" href="index"> <img src="images/logo-light.png" alt="Image" class="logo-light"> <img src="images/logo-dark.png" alt="Image" class="logo-dark"></a>
		<ul class="nav navbar-nav visible-xs hidden-sm">
			<li class="mbastudentslink"><a style="font-size: 0.8em;" target="_blank" href="contact">Contct</a></li>
			<li class="mbastudentslink"><a style="font-size: 0.8em;" target="_blank" href="students">MBA Students</a></li>
		</ul>	
		</div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="collapse-nav">
        <ul class="top-menu visible-xs">
		  <li><a href="our-offices.html">Our Offices</a></li>
		  <li><a href="career.html">Career</a></li>
		  <li><a href="on-press.html">On Press</a></li>
		  <li><a href="support.html">Support</a></li>
		</ul>
            <!-- end top-menu --> 
        <ul class="nav navbar-nav">
          <li style="visibility:hidden;"><a href="index.html">HOME</a></li>
          <li style="visibility:hidden;" class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">PAGES</a>
            <ul class="dropdown-menu">
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="solutions.html">Solutions</a></li>
              <li><a href="partners.html">Partners</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li><a href="404.html">404 Page</a></li>
            </ul>
          </li>
          <li style="display:none;"><a href="projects.html">PROJECTS</a></li>
          <li><a target="_blank" href="students">MBA Students</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <!-- end navbar-nav --> 
         <a target="_blank" href="contact" class="quote-btn">CONTACT US</a>
        <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i> +33 601 86 78 38</span> 
        <!-- end phone --> 
        <!--<div class="search"><i class="fa fa-search" aria-hidden="true"></i></div>-->
        <!-- end search -->
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container --> 
  </nav>
  <!-- end navbar-default -->
  <div id="rev_slider_24_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="website-intro" data-source="gallery" >
    <div id="rev_slider_24_1" class="rev_slider fullscreenbanner tiny_bullet_slider setbackgroundimg" data-version="5.4.1">
      <!--<ul>
        <li data-index="rs-67" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="600"  data-thumb="../../assets/images/woman2-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-slicey_shadow="0px 0px 0px 0px transparent"> <img src="images/hero1.jpg"  alt="Image"  data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="20" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
          <div class="tp-caption tp-shape tp-shapewrapper " 
			id="slide-67-layer-1" 
			data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
			data-width="full"
			data-height="full"
			data-whitespace="nowrap"
		 	data-type="shape" 
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-frames='[{"delay":10,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			style="z-index: 18;background-color:rgba(0, 0, 0, 0.5);"></div>
    
          </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="height: 3px; background:#8a39ee"></div>-->
	  	<div class="col-xs-12">
				<div class="row loginbox">
				
					<label class="loginheading">Change Password</label>					
					 <div class="form-group">
					  <label class="loginfontcss" for="inputdefault">New Password</label>
					  <input class="form-control inputboxcss" name="txtpassword" id="txtpassword" type="password">
					</div>
					<input type="hidden" value="<%= usermailid %>" id="hiddenemaild"/>
					 <div class="form-group">
					  <label class="loginfontcss" for="inputdefault">Confirm Password</label>
					  <input class="form-control inputboxcss" name="txtconfirmpassword" id="txtconfirmpassword" type="password">
						<span id="spnerror" style="color: #ff0000;"></span>
					</div>
					 <div class="form-group">
						<button onclick="changepassword()" class="btn btn-success loginbtn" type="submit">Change Password</button>
					 </div>
				</div>
			</div>	
    </div>
  </div>
  <!-- end revslider --> 
</header>
<footer class="footer transition">
  <div class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <ul style="display: block;margin: 0px auto;width: 183px;" class="social-media">
			 <li><a target="_blank" href="https://www.facebook.com/indianinsiders"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				  <li><a target="_blank" href="https://twitter.com/indianinsiders"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				  <li><a target="_blank" href="https://www.linkedin.com/company/27148513/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
		 <div class="col-md-3 col-sm-6 col-xs-12">
          <address style="float:right;">
          <i class="fa fa-phone" aria-hidden="true"></i> +33 601 86 78 38 <small>Any questions? Call us.</small>
          </address>
        </div>
		<div class="col-md-3 col-sm-6 col-xs-12">
          <address>
          <i class="fa fa-map-marker" aria-hidden="true"></i> 19th West Street, Apt 84 <small>San Francisco, CA 94103</small>
          </address>
        </div>
      </div>
   
    </div>
 
  </div>
  <!-- end footer-bar -->
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="text-center col-xs-12">Copyright © 2017 , Indian Insiders</div>
        <!-- end col-6 -->
       
        <!-- end col-6 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end sub-footer --> 
</footer>
<!-- end footer --> 
<a href="#" class="scrollup"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a> 

<!-- JS FILES --> 
<script src="/js/jquery.min.js"></script> 
<script type="text/javascript">
	$(window).load(function() {
		$(".preloader").fadeOut("fast");
	})
	</script> 
<script src="/js/login.js"></script> 
<script src="/js/analytics.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jPushMenu.js"></script> 
<script src="/js/odometer.min.js"></script> 
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/jquery.fancybox.js"></script> 
<script src="/js/wow.min.js"></script> 
<script src="/js/masonry.pkgd.min.js"></script> 
<script src="/js/scripts.js"></script>

<!-- REVOLUTION JS FILES --> 
<script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script type='text/javascript' src='/revolution/js/revolution.addon.slicey.min.js?ver=1.0.0'></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script> 

<script type="text/javascript">
		
			var tpj=jQuery;
			var revapi24;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_24_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_24_1");
				}else{
					revapi24 = tpj("#rev_slider_24_1").show().revolution({
						sliderType:"standard",
						jsFileLocation:"revolution/js/",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:9000,
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[868,768,960,720],
						lazyType:"none",
						shadow:0,
						spinner:"off",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAutoWidth:"off",
						fullScreenAlignForce:"off",
						fullScreenOffsetContainer: "",
						fullScreenOffset: "0",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}

                if(revapi24) revapi24.revSliderSlicey();
				
				$("#slide-67-layer-7").click(function(){
					 $("html, body").animate({ scrollTop: $(".header").height() }, 1000);
				});
			});	/*ready*/
		</script>
</body>
</html>