
<!DOCTYPE html>
<html lang="en">
<% include header %>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
<link rel="stylesheet" href="/css/profilecut.css">
<body>
<!-- end header -->
<% if(typeof loginfrom !== 'undefined'){
if(loginfrom == "2"){ %>
<section class="breadcrumb-bar">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 manusitems">
                <label><a href="/admin">All Companies</a></label>
                <label style="border-bottom: 3px solid #ffbb3f;">New</label>
                <label style="float: right;" onclick="logoutprofile()">Log Out</label>
        </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<% } } %>
<section class="breadcrumb-bar">
  <div class="container" style="padding: 20px 15px;">  
        <div class="row">
            <div class="col-xs-12 col-sm-6" style="padding:0px;">
                <div class="col-xs-12">
                    <label class="txtlbl">Case Study Name</label></br>
                    <input class="inputtextcss" value="<% if(typeof casestudyname !== 'undefined'){ %><%=casestudyname %><% } %>" type="text" id="txtcasestudy" name="txtcasestudy"/>
                    <span id="spntxtcasestudy" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="formheading">ABOUT THE COMPANY*</label>
                    </br>
                    <span>Specify details about the your companies business in the following outline.</span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">Company Name</label></br>
                    <input class="inputtextcss" value="<% if(typeof Caseid !== 'undefined'){  %><%=cmpname %><% } %>" type="text" id="txtcompanyname" name="txtcompanyname"/>
                    <span id="spntxtcompanyname" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">Company Website</label></br>
                    <input class="inputtextcss" type="text" value="<% if(typeof cmpurl !== 'undefined'){  %><%=cmpurl %><% } %>" id="txtcurl" name="txtcurl"/>
                    <span id="spntxtcurl" class="spnerror"></span>
                </div>
            </div>   
            <div class="col-xs-12 col-sm-6"">
                <div id="imgdiv" class="companylogocss imgdiv">
                        <% if(typeof companylogo !== 'undefined'){ %>
                            <img src="../upload/companylogo/<%=companylogo %>" alt="load"/>
                        <% } %>
                        
                    <a style="cursor:pointer" class="companylogoediticon" data-toggle="modal" data-target="#companylogo"><i class="material-icons">&#xE254;</i> </a>
                </div>
                <input type="hidden" id="txtcompanylogo" name="txtcompanylogo" value=""/>
                <span id="spntxtcompanylogo" class="spnerror"></span>
            </div> 
              
            <div class="col-xs-12">
                <label class="txtlbl">Description</label></br>
                <textarea class="txtareacss" rows="3" cols="100" id="txtcdescription" name="txtcdescription" autofocus><% if(typeof cmpdes !== 'undefined'){  %><%=cmpdes %><% } %></textarea>
                <span id="spntxtcdescription" class="spnerror"></span>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label class="txtlbl">Company Statistics.</label></br>
                <textarea class="txtareacss" rows="2" cols="100" id="txtcstatistics" name="txtcstatistics" autofocus><% if(typeof cmpstatics !== 'undefined'){  %><%=cmpstatics %><% } %></textarea>
                <span id="spntxtcstatistics" class="spnerror"></span>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label class="txtlbl">Current Market</label></br>
                <textarea class="txtareacss" rows="2" cols="100" id="txtcurrentmarket" name="txtcurrentmarket" autofocus><% if(typeof cmpcurrentmarket !== 'undefined'){  %><%=cmpcurrentmarket %><% } %></textarea>
                <span id="spntxtcurrentmarket" class="spnerror"></span>
            </div> 
        </div>
    <!-- end row --> 
        <div class="row">
            <div class="col-xs-12">
                <label class="formheading">PROBLEM DETAILS*</label>
                </br>
                <span>Specify your problem statement using below outline. (300-400 words)</span>
                <br>
                <ul>
                    <li><b>Background of the Problem:</b> Here you can reflect on facts related to the problem to make the readers
                        understand about the gravity of the problem.</li>
                     <li><b>General problem:</b> How it impacts a larger population.</li>
                    <li><b>Specific problem:</b> How it impacts your sample population.</li>
                </ul>
            </div>
            <div style="padding:0px;" class="col-xs-12">
                <div class="col-xs-12">
                    <label class="txtlbl">Background of the Problem</label></br>
                    <textarea class="txtareacss" rows="3" cols="100" id="txtbackgroundproblem" name="txtbackgroundproblem" autofocus><% if(typeof cmpbackgroundproblem !== 'undefined'){  %><%=cmpbackgroundproblem %><% } %></textarea>
                    <span id="spntxtbackgroundproblem" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">General problem</label></br>
                    <textarea class="txtareacss" rows="2" cols="100" id="txtgenralproblem" name="txtgenralproblem" autofocus><% if(typeof cmpgenralproblem !== 'undefined'){  %><%=cmpgenralproblem %><% } %></textarea>
                    <span id="spntxtgenralproblem" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">Specific problem</label></br>
                    <textarea class="txtareacss" rows="2" cols="100" id="txtspecificproblem" name="txtspecificproblem" autofocus><% if(typeof cmpspecificproblem !== 'undefined'){  %><%=cmpspecificproblem %><% } %></textarea>
                    <span id="spntxtspecificproblem" class="spnerror"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label class="formheading">CASE OBJECTIVE*</label>
                </br>
                <span>Case objectives are the specific areas you are looking to find solution or analysis( You can provide maximum 3 case
                objectives for this case study).</span>
            </div>
            <div style="padding:0px;" class="col-xs-12">
                <div class="col-xs-12">
                    <label class="txtlbl">Companies</label></br>
                    <textarea class="txtareacss" rows="3" cols="100" id="txtcompanies" name="txtcompanies" autofocus><% if(typeof cmpcompanies !== 'undefined'){  %><%=cmpcompanies %><% } %></textarea>
                    <span id="spntxtcompanies" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">Candidates</label></br>
                    <textarea class="txtareacss" rows="2" cols="100" id="txtcandidates" name="txtcandidates" autofocus><% if(typeof cpmcandidates !== 'undefined'){  %><%=cpmcandidates %><% } %></textarea>
                    <span id="spntxtcandidates" class="spnerror"></span>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-12">
                <label class="formheading">ADDITIONAL INFORMATION</label>
            </div>
            <div style="padding:0px;" class="col-xs-12">
                <div class="col-xs-12">
                    <label class="txtlbl">Case category (for eg Sales, marketing,HR, Organisation Behaviour)</label></br>
                    <textarea class="txtareacss" rows="3" cols="100" id="txtcasecategory" name="txtcasecategory" autofocus><% if(typeof cmpcasecategary !== 'undefined'){  %><%=cmpcasecategary %><% } %></textarea>
                    <span id="spntxtcasecategory" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">Any specifics requirements or information. (bachelor’s degree, years of experience, team size)</label></br>
                    <textarea class="txtareacss" rows="2" cols="100" id="txtanyspecificsrequirment" name="txtanyspecificsrequirment" autofocus><% if(typeof cmpanyspecific !== 'undefined'){  %><%=cmpanyspecific %><% } %></textarea>
                    <span id="spntxtanyspecificsrequirment" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">Closing date</label></br>
                    <input type="text" class="inputtextcss" id="txtdatepicker" name="txtdatepicker" value="<% if(typeof closingdate !== 'undefined'){  %><%=closingdate %><% } %>">
                    <span id="spntxtdatepicker" class="spnerror"></span>
                </div>
                <div class="col-xs-12">
                    <label class="txtlbl">Email</label></br>
                    <input class="inputtextcss" value="<% if(typeof companyemail !== 'undefined'){  %><%=companyemail %><% } %>" type="text" id="txtcompanyemail" name="txtcompanyemail"/>
                    <span id="spntxtcompanyemail" class="spnerror"></span>
                </div>
            </div>
        </div>
        <div style="margin-top: 15px;" class="row">
                <% if(typeof Caseid === 'undefined'){  %>
                    <button type="submit" onclick="createnewcompanyinfo()" class="btn btn-default">Save Record</button>
                <% }else{ %>
                    <button type="submit" onclick="updatecompanyinfo()" class="btn btn-default">Save Record</button>
                <% } %>
       
        <% if(typeof Caseid === 'undefined'){  %>
            <input type="hidden" value="" id="hiddencasid" name="hiddencasid"/>
        <% }else{ %>
            <input type="hidden" value="<%= Caseid %>" id="hiddencasid" name="hiddencasid"/>
            <% if(loginfrom == 3){ %><button id="btnsendreport" style="margin-top: 15px;" class="changestatus btn btn-success">Send Report</button><% } %>
        <% } %>  
        </div>
        <% if(typeof Caseid !== 'undefined'){  %>
        <div class="row">
        <% if(loginfrom == '2'){ %>
            <div class="col-xs-12" style="padding: 50px 0px;">
                <div class="pageheader">
                    <span>INDIAN INSIDERS</span>
                    <span style="float:right;">www.indianinsiders.com</span>
                </div>    
                <label class="formheading">USERNAME AND PASSWORD</label>
                </br>
                
                <label>Username</label></br>
                <p><% if(typeof companyemail !== 'undefined'){  %><%=companyemail %><% } %> </p>
                
                </br><label>Password</label></br>
                <p><% if(typeof companypassword !== 'undefined'){  %><%=companypassword %><% } %> 
                </p>
                <span style="color: #ff0000;position: absolute;bottom: 50px;" id="spnerrormsg1"></span>
            </div>
            <button id="btnpublish" style="margin-top: 15px;" class="changestatus custombutton publishbtncolor btn btn-success">Publish</button>
            <button id="btncancel" style="margin-top: 15px;" class="changestatus custombutton closebtn btn btn-success">Cancel</button>
            <button id="btnclose" style="margin-top: 15px;" class="changestatus custombutton cancel btn btn-success">Close</button>
            <button type="submit" style="margin-top: 15px;" onclick="openapplyusers('<%= Caseid %>')"; class="btn btn-success">Applied User</button>
            <% }  %>
        </div>
        <% } %>
  </div>

  <div class="modal fade bs-example-modal-lg" id="companylogo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content col-xs-12">
          <label class="closebtnmodel">x</label>
              <div class="profile col-xs-12 col-sm-12">
                  <div class="photo">
                      <input type="file" accept="image/*">
                      <div class="photo__helper">
                          <div class="photo__frame photo__frame--circle">
                              <canvas class="photo__canvas"></canvas>
                              <div class="message is-empty">
                                  <p class="message--desktop">Drop your photo here or browse your computer.</p>
                                  <p class="message--mobile">Tap here to select your picture.</p>
                              </div>
                              <div class="message is-loading">
                                  <i class="fa fa-2x fa-spin fa-spinner"></i>
                              </div>
                              <div class="message is-dragover">
                                  <i class="fa fa-2x fa-cloud-upload"></i>
                                  <p>Drop your photo</p>
                              </div>
                              <div class="message is-wrong-file-type">
                                  <p>Only images allowed.</p>
                                  <p class="message--desktop">Drop your photo here or browse your computer.</p>
                                  <p class="message--mobile">Tap here to select your picture.</p>
                              </div>
                              <div class="message is-wrong-image-size">
                                  <p>Your photo must be larger than 350px.</p>
                              </div>
                          </div>
                      </div>
      
                      <div class="photo__options hide">
                          <div class="photo__zoom">
                              <input type="range" class="zoom-handler">
                          </div><a href="javascript:;" class="remove"><i class="fa fa-trash"></i></a>
                      </div>
                      <!--<input type="hidden" id="hiddenimgurl" name="hiddenimgurl" value=""/>-->
                      <hr>
                            <button style="display:none;" id="previewBtnlogo">Save</button>
                      <!--<button type="button" id="previewBtn">Preview</button>-->
                  </div>
              </div>
              <!--<div class="col-xs-12 col-sm-6 text-center priviewdiv">
                  
                  <img src="" alt="" class="preview">
                  <img src="" alt="" class="preview preview--rounded">
              
              </div>-->
          </div>
        </div>
      </div>
  <!-- end container --> 
</section>
<!-- end breadcrumb-bar -->
<% include footer %>
<script>
$(function() {
    $( "#txtdatepicker" ).datepicker();
  } );
  </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="hello.js"></script>
<script src="/js/profile.js"></script>
<script  src="/js/profilecut.js"></script>
</body>
</html>
