
<!DOCTYPE html>
<html lang="en">
<% include header %>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
<link rel="stylesheet" href="/css/profilecut.css">
<body>
<!-- end header -->

<section style="background-color: rgb(255, 192, 0);margin-top: 70px;" >
	<div class="container setcontainermaxwidth">
		<div class="row">
			<div class="col-xs-12">
				<div class="profilepic">
                    <% if(typeof companylogo !== 'undefined'){ %>
                        <img src="../upload/companylogo/<%=companylogo %>" alt="load"/>
                    <% }else{ %>
                        <div class="imagenotupload"><p class="text-center" style="vertical-align: middle;display: table-cell;">Company Logo</p></div>   
                    <% } %>    
				</div>
				<div class="profiletextdiv">
					<p class="csestudylbl">Case study name</p>
					<p class="companynamelbl"><span>by company name</span><a style="margin-left: 35px;" href="#">www.goodat.io</a> </p>
				</div>
			</div>
		</div>
	</div>
</section>

<section style="background-color: #fff">
	<div class="container setcontainermaxwidth">
		<div class="row">
			<div class="col-xs-12 companynamelbl" style="background-color:#fff;">
				<% if(loginfrom == 1){ %>
					<a class="uploadbtn" data-toggle="modal" data-target="#uploadfile"> Upload your Case Study </a>
					<span class="nofileupload"> <% if(typeof companylogo !== 'undefined'){ %>  <%}else{ %>  No file uploaded<% } %></span>
                <% } %>
			</div>
		</div>
	</div>
</section>
<section class="breadcrumb-bar">
  <div class="container setcontainermaxwidth">
        <div class="row">
            <div class="col-xs-12">
                   
                <label class="formheading">ABOUT THE COMPANY*</label>
                </br>
               
                <p>
                <b>Company Name</b> - <%= cmpname %></br>
                <b>Website</b> - <%= cmpurl %></br>
                <b>Active since</b> - <%= cmpcurrentmarket %></br>
                <b>Origin</b> - <%= cmpstatics %></br>
                <b>Brief Description</b> - <%= cmpdes %>
                </p>
            </div>
			
            <div class="col-xs-12">				 
                <label class="formheading">PROBLEM DETAILS*</label>
                </br>
                <p>
                <%= cmpbackgroundproblem %> </br>
                <%= cmpgenralproblem %> </br>
                <%= cmpspecificproblem %></br>
                </p>
            </div>
			
             <div class="col-xs-12">
             
                <label class="formheading">CASE OBJECTIVE*</label>
               
                </br>
              
                <label>Companies</label></br>
                 <p> <%= cmpcompanies %>
                </p>
                 
                </br><label>Candidates</label></br>
                <p><%= cpmcandidates %>
                </p>
            </div>
			
             <div class="col-xs-12">
                  
                <label class="formheading">ADDITIONAL INFORMATION</label>
                </br>
              
                <label>Case category</label></br>
                 <p><%= cmpcasecategary %> 
                </p>
                 
                </br><label>Any specifics requirements or information. (bachelor’s degree, years of experience, team size)</label></br>
                <p><%= cmpanyspecific %> 
                </p>
            </div>
        </div>               
  </div>
  <!-- end container --> 
</section>
<div id="uploadfile" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div style="padding: 0px 15px;" class="modal-content">
      <label class="closebtnmodel">x</label>
              <h1 class="uploadheader">Upload files</h1>
              <p>Upload only pdf files.</p>
              <form enctype="multipart/form-data"
                  action="/uploadfiles" method="post">
              <p><input type="hidden" name="MAX_FILE_SIZE" value="200000" /> <input
                  type="file" name="filename" /><br />
                <input type="hidden" name="inptucasestudy" id="inptucasestudy" value="<%= Caseid %>"/>  
              <p>Enter your comments  </p>
              <textarea id="txtcomment" class="form-control" name="txtcomment" rows="5"></textarea></p></br>
              <button class="custombutton publishbtncolor" type="submit">Submit Case Study</button></p>
              </form>
      </div>
    </div>
  </div>
<!-- end breadcrumb-bar -->
<% include footer %>
<script src="hello.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>
