<!DOCTYPE html>
<html lang="en">
    <% include header %>
<body>
<div class="preloader">
  <svg class="spinner" id="pageloader_anime" width="32px" height="32px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
<!-- end preloader -->
<div class="search-box transition">
  <div class="table">
    <div class="table-cell">
      <div class="container">
        <form>
          <input type="text" placeholder="Type here to make a search" autofocus>
          <button type="submit">SEARCH</button>
        </form>
      </div>
      <!-- end container --> 
    </div>
    <!-- end table-cell --> 
  </div>
  <!-- end table --> 
</div>
<!-- end search-box -->
<header class="int-header">
   <?php include_once("navbar.php"); ?>
  <!-- end navbar-default -->
  <div class="table">
    <div class="table-cell">
      <div class="container">
        <h3>CONTACT<span>.</span></h3>
      </div>
      <!-- end container --> 
    </div>
    <!-- end table-cell --> 
  </div>
  <!-- end table --> 
</header>
<!-- end header -->
<section class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li><a href="index">Home</a></li>
          <li class="active">Contact</li>
        </ul>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end breadcrumb-bar -->
<section style="border-bottom: 2px solid #f2f2f2;" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="border-right: 1px solid #dad8d8;">
        <h6>Contact Us</h6>
        <h2>Paris, France</h2>
        <p>53 rue du général de gaulle, 94100 Saint-Mandé, France</p>
        <p><span><strong>+33 601 86 78 38</strong></span></p>
        <p><span><strong>ketcia@indianinsiders.com</strong></span></p>
        <p> Ketcia Thach - COO & EU Business Head </p>
      </div>
	  <div class="col-sm-6 col-xs-12">
        <h6>Contact Us</h6>
        <h2>Pune, India</h2>
        <p>M 302, Iris, Magarpatta City, Hadapsar, Pune- 411013(MH), India</p>
        <p><span><strong>+91 9545540000</strong></span></p>
        <p><span><strong>anurag@indianinsiders.com</strong></span></p>
        <p> Anurag Mawal - CEO & India Operations Head </p>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end contact -->
<section class="get-quote transition">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <h2>Write to us</h2>
		 <span id="spnblanfiled" class="errorclass">Please fill all the fields</span></br>
		 <span id="spnemailid" class="errorclass">Please enter correct mail address</span>
        <form onsubmit="return sendmail();">
          <input type="text" placeholder="Your name" id="txtname" class="first">
          <input type="text" placeholder="Your e-mail" id="txtmailid" class="second">
          <input type="text" placeholder="Subject" id="txtsubject">
          <textarea placeholder="Your message" id="txtmessage"></textarea>
          <button type="submit">SEND NOW</button>
        </form>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
 <div id="divmailbox" class="notificationdiv"><p>Thank you for the information. </br> We will get back to you shortly.</p></div> 
</section>
<!-- end get-quote -->
<!-- end support-bar -->
<script src="/js/contact.js"></script> 
<% include footer %>