<!-- JS FILES --> 
<script src="/js/jquery.min.js"></script> 
<script type="text/javascript">
$(window).load(function() {
	$(".preloader").fadeOut("fast");
})
</script> 
<footer class="footer transition">
  <div class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <ul style="display: block;margin: 0px auto;width: 183px;" class="social-media">
			 <li><a target="_blank" href="https://www.facebook.com/indianinsiders"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				  <li><a target="_blank" href="https://twitter.com/indianinsiders"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				  <li><a target="_blank" href="https://www.linkedin.com/company/27148513/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        
        </div>
		 <div class="col-md-3 col-sm-6 col-xs-12">
          <address>
          <i class="fa fa-phone" aria-hidden="true"></i> +33 601 86 78 38 <small>Any questions? Call us.</small>
          </address>
        </div>
		<div class="col-md-3 col-sm-6 col-xs-12">
          <address>
          <i class="fa fa-map-marker" aria-hidden="true"></i> 53 rue du général de gaulle, 94100 Saint-Mandé, France
          </address>
        </div>
      </div>
   
    </div>
 
  </div>
  <!-- end footer-bar -->
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="text-center col-xs-12">Copyright © 2017 , Indian Insiders</div>
        <!-- end col-6 -->
       
        <!-- end col-6 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end sub-footer --> 
</footer>
<!-- end footer --> 
<a href="#" class="scrollup"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a> 

<script src="/js/analytics.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jPushMenu.js"></script> 
<script src="/js/odometer.min.js"></script> 
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/jquery.fancybox.js"></script> 
<script src="/js/wow.min.js"></script> 
<script src="/js/masonry.pkgd.min.js"></script> 
<script src="/js/scripts.js"></script>

<!-- REVOLUTION JS FILES --> 
<script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script type='text/javascript' src='/revolution/js/revolution.addon.slicey.min.js?ver=1.0.0'></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script> 