<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Indian Insiders</title>
<meta name="author" content="Themezinho">
<meta name="description" content="India is ready for your business, but are you ready for India?">
<meta name="keywords" content="business, corporate, Indian Market, Fastest growing economy, Global, Consultants">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="India is ready for your business, but are you ready for India?">
<meta property="og:image" content="/images/hero1.jpg">
<meta property="og:title" content="Indian Insiders">
<meta property="og:type" content="Consulting">
<meta property="og:url" content="http://www.indianinsiders.com">

<!-- TWITTER META -->
<meta name="twitter:card" content="India is ready for your business, but are you ready for India?">
<meta name="twitter:site" content="http://www.indianinsiders.com">
<meta name="twitter:creator" content="http://www.indianinsiders.com">
<meta name="twitter:title" content="Indian Insiders">
<meta name="twitter:description" content="India is ready for your business, but are you ready for India?">
<meta name="twitter:image" content="http://www.indianinsiders.com">

<!-- FAVICON FILES -->
<link href="/images/favicon.png" rel="apple-touch-icon" sizes="144x144">
<link href="/images/favicon.png" rel="apple-touch-icon" sizes="114x114">
<link href="/images/favicon.png" rel="apple-touch-icon" sizes="72x72">
<link href="/images/favicon.png" rel="apple-touch-icon">
<link href="/images/favicon.png" rel="shortcut icon">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- CSS FILES -->
<link href="/revolution/css/settings.css" rel="stylesheet">
<link href="/css/flaticon.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/jquery.fancybox.css" rel="stylesheet">
<link href="/css/odometer.min.css" rel="stylesheet">
<link href="/css/owl.carousel.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>