<!DOCTYPE html>
<html lang="en">
<% include header %>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
<link rel="stylesheet" href="/css/profilecut.css">
<body>
<!-- end header -->
<section class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 manusitems">
          <label id="lblhome" style="border-bottom: 3px solid #ffbb3f;" onclick="activemenus('home')">Home</label>
          <label id="lblprofile" onclick="activemenus('profile')">Profile</label>
          <label style="float: right;" onclick="logoutprofile()">Log Out</label>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end breadcrumb-bar -->
<input type="hidden" id="hiddenuserid" name="hiddenuserid" value="<%=profileid %>"/>
<section style="padding: 30px 0px;" id="divhome"  class="news">
	<div class="container">
		<!--------------------------------------->
    <!-- end row --> 
    <div class="row">
        <% for(var i=0; i<casestudy.length; i++){ 
					if(casestudy[i]['status'] >= 3){	%>
        <div style="padding-top:30px" class="col-md-3">
						<div class="companylogdiv">
								<% if(typeof casestudy[i]['companylogo'] !== 'undefined' && casestudy[i]['companylogo'] != "") {%>
								<img src="../upload/companylogo/<%=casestudy[i]['companylogo'] %>" alt="load"/>
								<% } %>
							</div>
            <div class="news-box"> <small><%= casestudy[i]['name']; %></small>
              <h4><%= casestudy[i]['caseStudyName']; %></h4>
              <span><%= moment(casestudy[i]['dateCreated']).fromNow() %></span>
              <p class="paragraphheight"><%= casestudy[i]['description']; %></p>
              <a href="javascript:void(0)" class="btnreadmore" id="<%= casestudy[i]['_id']; %>">Read More</a></div>
            <!-- end news-box --> 
          </div>
          <% } } %>
      <!-- end col-3 -->
      <div class="col-xs-12 text-center">
      	<a href="#" class="load-more">LOAD MORE</a>
      </div>
    
    </div>
	</div>
</section>
<section style="padding:0px 0px 15px;display:none;" id="divprofile"  class="news">
	<div class="container">
    <div class="row">
      <div class="col-xs-12">
			<div id="divpreviwprofile" class="col-xs-12 profiediv">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<div id="imgdiv" class="profiedivdiv imgdiv">
							<% if(userprofilepic == ""){ 
							%>
								<p class="profilename" style="text-transform: uppercase;color:#fff;padding: 18px 0px;text-align: center;"><%= username.substring(0, 1) %></p>
							<% }else{ %>  
								<img style="border-radius:100px;" src="<%= userprofilepic %>" alt="img"/>
								<% } %> 
						</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
					<div class="row">
							<div class="col-xs-12">
									<span class="text-left profiedivp usernamestyle"><span id="spnfullname"><%= userfname+" "+userlname %></span>		
									<button style="margin: 25px 0px;" id="btneditprofile" class="btn btncss btncsscolor">Edit Profile</button>						
							</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="row text-left profiedivp">
							<div class="col-sm-12 col-md-4 setpaddingnone">
								<label class="headinglbl">Email : </label> 
							</div>
							<div class="col-sm-12 col-md-8 textellipses" title="<%= useremail %>">
								<%= useremail %>
							</div>
						</div>
						<div class="row text-left profiedivp">
							<div class="col-sm-12 col-md-4 setpaddingnone">
								<label class="headinglbl">College : </label>
							</div>
							<div id="divcollegename" class="col-sm-12 col-md-8 textellipses" title="<%= usercollege %>">
								<%= usercollege %>
							</div>
						</div>		
						<div class="row text-left profiedivp">
							<div class="col-sm-12 col-md-4 setpaddingnone">
								<label class="headinglbl">Specialization : </label> 
							</div>
							<div id="spnspecialization" class="col-sm-12 col-md-8 textellipses" title="<%= postgraduationstream %>">
								<%= postgraduationstream %>
							</div>
						</div>	
							
						<div class="row text-left profiedivp">
							<div class="col-sm-12 col-md-4 setpaddingnone">
								<label class="headinglbl">Year : </label> 
							</div>
							<div id="divyear" class="col-sm-12 col-md-8 textellipses" title="<%= postgratuationyear %>">
								<%= postgratuationyear %> <% if(postgratuationyear == 1){ %><sup>st</sup> <% }else{ %> <sup>nd</sup> <% } %> year
							</div>
						</div>		
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 setpaddingnone">
										<label class="headinglbl">Number : </label> 
									</div>
									<div id="divcontactnumer" class="col-sm-12 col-md-8 textellipses" title="<%= contcact %>">
										<%= contcact %>
									</div>
								</div>
								<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 setpaddingnone">
										<label class="headinglbl">Linkedin : </label> 
									</div>
									<div id="divlinkedinurl" class="col-sm-12 col-md-8 textellipses" title="<%= linkedinurl %>">
										<%= linkedinurl %>
									</div>
								</div>
								<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 setpaddingnone">
										<label class="headinglbl">Resume : </label> 
									</div>
									<div class="col-sm-12 col-md-8 textellipses">
											<% if(userpdfurl == ""){ %>
												<a style="cursor:pointer">Resume not available</a><% 
												}else{ %>
													<a href="/download/<%=profileid %>" style="cursor:pointer">
												<%=userpdfurl %></a><% } %>
									</div>
								</div>
						</div>
					</div>	
				</div>
			<div id="diveditprofile" class="col-xs-12 profiediv" style="display:none;">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
							<div id="imgdiv" class="profiedivdiv imgdiv">
								<% if(userprofilepic == ""){ 
								%>
									<p class="profilename" style="text-transform: uppercase;color:#fff;padding: 18px 0px;text-align: center;"><%= username.substring(0, 1) %></p>
								<% }else{ %>  
									<img style="border-radius:100px;" src="<%= userprofilepic %>" alt="img"/>
									<% } %> 
									<a style="cursor:pointer" class="profileediticon" data-toggle="modal" data-target="#profilepicmodel"><i class="material-icons">&#xE254;</i> </a>
							</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
											<label class="headinglbl">Fname : </label>  
									</div>
									<div class="col-sm-12 col-md-8 text-left">
										<input id="txtuserfname" class="profiletextbox" name="txtuserfname" type="text" value="<%= userfname %>"/>
										<span id="spntxtuserfname" class="spnerror"></span>
									</div>
							</div>
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
										<label class="headinglbl">Lname : </label>
									</div>
									<div class="col-sm-12 col-md-8 text-left">
										<input id="txtuserlname" class="profiletextbox" name="txtuserlname" type="text" value="<%= userlname %>"/>
										<span id="spntxtuserlname" class="spnerror"></span>
									</div>	
									  
										
									
							</div>
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
										<label class="headinglbl">Email : </label> 
									</div>
									<div class="col-sm-12 col-md-8 text-left">
										<input id="txtusremail" class="profiletextbox" disabled name="txtusremail" type="text" value="<%=useremail %>"/>
									</div>
		
								
							</div>
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
										<label class="headinglbl">College : </label>  
									</div>
									<div class="col-sm-12 col-md-8 text-left">
										<input id="txtusercollege" class="profiletextbox" name="txtusercollege" type="text" value="<%=usercollege %>"/>
										<span id="spntxtusercollege" class="spnerror"></span>
									</div>
								
							</div>
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
										<label class="headinglbl">Specialization : </label> 
									</div>
									<div class="col-sm-12 col-md-8 text-left">
										<input id="txtgraduation" class="profiletextbox" name="txtgraduation" type="text" value="<%= postgraduationstream %>"/>
										<span id="spntxtgraduation" class="spnerror"></span>
									</div>
									 
										
									
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
										<label class="headinglbl">Year : </label> 
									</div> 
									<% var checked1 ="";
									var checked2 ="";
									if(postgratuationyear == "1"){ 
										checked1 ="checked";
									}else{
										checked2 = "checked";
									}%>
									<div class="col-sm-12 col-md-8 text-left">
											<input type="radio" id="year1" <%=checked1 %> name="year" value="1">
											<label for="contactChoice1">1<sup>st</sup> Year </label>

										<input type="radio" id="year2" <%=checked2 %>	name="year" value="2">
											<label for="contactChoice2">2<sup>nd</sup> Year</label>
									</div>
										
								
								</div>
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
										<label class="headinglbl">Number : </label>  
									</div>
									<div class="col-sm-12 col-md-8 text-left">
										<input id="txtphone" class="profiletextbox" name="txtphone" type="text" value="<%=contcact %>"/>
										<span id="spntxtphone" class="spnerror"></span>
									</div>
									
										
								
							</div>
							<div class="row text-left profiedivp">
									<div class="col-sm-12 col-md-4 text-left setpaddingnone">
										<label class="headinglbl">Linkedin : </label>  
									</div>
									<div class="col-sm-12 col-md-8 text-left">
										<input id="txtlinkedin" class="profiletextbox" name="txtlinkedin" type="text" value="<%=linkedinurl%>"/>
										<span id="spntxtlinkedin" class="spnerror"></span>
									</div>
							
									
								
							</div>
							<div class="row text-left profiedivp">
								<div class="col-sm-12 col-md-4 text-left setpaddingnone">
									<label class="headinglbl">Resume : </label> 
								</div>
								<div class="col-sm-12 col-md-8 text-left">
									<a style="cursor:pointer" data-toggle="modal" data-target="#uploadresume">Upload Resume</a>
									<% if(userpdfurl == ""){ %>
										<a style="cursor:pointer"> | Resume not available</a><% 
										}else{ %>
											<a href="/download/<%=profileid %>" style="cursor:pointer">
										 | <%=userpdfurl %></a><% } %>
								</div>
							</div>
						</div>
					</div>
					<div style="padding:15px 0px" class="col-xs-12 text-right">
							<button id="btneditprofileupdate" class="btn btncss btncsscolor">Save Changes</button>
							<button id="btneditprofileclose" style="background-color:#f2f2f2;" class="btn btn-default btncss">Close</button>
					</div>	
				</div>
      </div> 
		</div>
	</div>
	<div style="border-bottom:1px solid #ffbb3f;" class="container-fluid"></div>
    <!-- end row --> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
					<label style="margin:15px 0px">My Casestudies (<span id="spncoutapplycasestudy"></span>)</label>
			</div>		
		</div>
		<div class="row">
      <% for(var i=0; i<casestudy.length; i++){ 
          for(var j=0; j<appliedcasestudy.length; j++){
            if(casestudy[i]['_id'] == appliedcasestudy[j]['id']){
        %>
        <div style="padding-top:30px;" class="col-md-3 applycasestudy">
						<div class="companylogdiv">
								<% if(typeof casestudy[i]['companylogo'] !== 'undefined' && casestudy[i]['companylogo'] != "") {%>
									<img src="../upload/companylogo/<%=casestudy[i]['companylogo'] %>" alt="load"/>
									<% } %>
						</div>
            <div class="news-box"> <small><%= casestudy[i]['name']; %></small>
              <h4><%= casestudy[i]['caseStudyName']; %></h4>
              <span><%= moment(casestudy[i]['dateCreated']).fromNow() %></span>
              <p class="paragraphheight"><%= casestudy[i]['description']; %></p>
              <a href="javascript:void(0)" class="btnreadmore" id="<%= casestudy[i]['_id']; %>">Read More</a></div>
            <!-- end news-box --> 
          </div>
          <% }  }  } %>
      <!-- end col-3 --> 
      <div class="col-xs-12 text-center">
      	<a href="#" class="load-more">LOAD MORE</a>
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row --> 

		<!----------------------------------------->
	</div>
</section>
<!-- end news -->
<section class="support-bar transition">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"> <a href="#">GET IN TOUCH</a> <img src="/images/icon-support.png" alt="Image">
        <h4>Have any Question?</h4>
        <h6>We're here to help. Send us an email or call us at +33 601 86 78 38</h6>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<div class="modal fade bs-example-modal-lg" id="profilepicmodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md" role="document">
	<div class="modal-content col-xs-12">
	<label class="closebtnmodel">x</label>
		<div class="profile col-xs-12 col-sm-12">
			<div class="photo">
				<input type="file" accept="image/*">
				<div class="photo__helper">
					<div class="photo__frame photo__frame--circle">
						<canvas class="photo__canvas"></canvas>
						<div class="message is-empty">
							<p class="message--desktop">Drop your photo here or browse your computer.</p>
							<p class="message--mobile">Tap here to select your picture.</p>
						</div>
						<div class="message is-loading">
							<i class="fa fa-2x fa-spin fa-spinner"></i>
						</div>
						<div class="message is-dragover">
							<i class="fa fa-2x fa-cloud-upload"></i>
							<p>Drop your photo</p>
						</div>
						<div class="message is-wrong-file-type">
							<p>Only images allowed.</p>
							<p class="message--desktop">Drop your photo here or browse your computer.</p>
							<p class="message--mobile">Tap here to select your picture.</p>
						</div>
						<div class="message is-wrong-image-size">
							<p>Your photo must be larger than 350px.</p>
						</div>
					</div>
				</div>

				<div class="photo__options hide">
					<div class="photo__zoom">
						<input type="range" class="zoom-handler">
					</div><a href="javascript:;" class="remove"><i class="fa fa-trash"></i></a>
				</div>
				<!--<input type="hidden" id="hiddenimgurl" name="hiddenimgurl" value=""/>-->
				<hr>
					  <button style="display:none;" id="previewBtn">Save</button>
				<!--<button type="button" id="previewBtn">Preview</button>-->
			</div>
		</div>
		<!--<div class="col-xs-12 col-sm-6 text-center priviewdiv">
			
			<img src="" alt="" class="preview">
			<img src="" alt="" class="preview preview--rounded">
		
		</div>-->
	</div>
  </div>
</div>
<div id="uploadresume" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div style="padding: 0px 15px;" class="modal-content">
		<label class="closebtnmodel">x</label>
						<h1 class="uploadheader">Upload files</h1>
						<p>Upload only pdf files.</p>
						<form enctype="multipart/form-data"
								action="/uploadresume" method="post">
						<p><input type="hidden" name="MAX_FILE_SIZE" value="200000" /> <input
								type="file" id="filename" name="filename" /><br />
						<input type="submit" value="upload!" /></p>
						<button onclick="uploadresume()" class="btn">upload save</button>
						</form>
		</div>
	</div>
</div>
<!-- end support-bar -->
<script type="text/javascript">

function downloadpdf(){
     window.open('/download');
 }

function activemenus(selectedmenu){

	$(".manusitems label").css("border-bottom","3px solid #fff");
	$("#lbl"+selectedmenu).css("border-bottom","3px solid #ffbb3f");
	$(".news").css("display","none");
	$("#div"+selectedmenu).css("display","block");
}

</script> 
<% include footer %>
<script src="hello.js"></script>
<script src="/js/profile.js"></script>
<script  src="/js/profilecut.js"></script>
</body>
</html>
